.bg-login-image {
  background-position: center;
  background-size: cover;
}

.fondo {
  background-image: url('http://10.18.8.195/cdn/imagen/fondo/FondoC5i.jpg');
  background-size: 100%;
  background-position: center 1017px;
}

.colorddd{
  background: #fff;
}

.bg-login-image {
  background-image: url('https://i.ibb.co/WF75KNM/portada.jpg');
  background-position: center;
  background-size: cover;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  color: #65696f;
}

.btn {
  background-color: #3f101d !important;
  color: white !important;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: #DDC9A3 !important;
  color: white !important;
  border: none;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.border-0 {
  border: 0;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgb(105, 101, 101);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.custom-swal-container{
  z-index: 1;
}