
/*body {
  background-image: url('http://10.18.8.195/cdn/imagen/fondo/FondoC5i.jpg');
  background-size: 100%;
  background-position: center 950px;
}*/

.App {
  font-family: sans-serif;
  text-align: center;
}

.principal-container {
  background: #dfdedebd;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 4px 8px 12px #959595;
  width: 80%;
  height: 600px;
  margin-left: 10%;
  padding-top: 2%;
}


/* .steps-form {
  display: block;
  margin: 0 auto;
  max-width: 37%;
  margin-left: 8%;
  overflow: hidden;
}

.steps-form .field {
  margin-bottom: 16px;
} */

/* input y select */
.centro{
  padding-bottom: 1em !important;
}

.select_form_tickets{
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #080202a3;
  width: 100%;
  max-width: 95%;
  height: 50px;
  padding: 15px;
  font-size: 14px;
  margin-top: 1%;
  margin-left: 5%;
}

.titulo {
  margin-right: 89%;
}
.titulo2 {
  margin-right: 90.5%;
}
.titulo3 {
  margin-right: 89.5%;
}

.descripcion textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #080202a3;
  width: 100%;
  max-width: 95%;
  height: 100px;
  padding: 15px;
  font-size: 14px;
  margin-top: 1%;
  margin-left: 5%;
}

.titulo4 {
  margin-right: 88%;
}

.textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 300px;
  width: 100%;
}

/* botones */

.button1 {
  background: #681228;
  box-shadow: 4px 8px 7px #959595;
  border: 0;
  padding: 9px 20px;
/*  margin-left: 40%;*/
  color: #fff;
  border-radius: 6px;
  width: auto;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  width: 20rem;
}

.button2 {
  background: #ababab;
  box-shadow: 4px 8px 7px #959595;

  border: 0;
  padding: 9px 20px;
  color: #fff;
  border-radius: 6px;
  width: auto;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  width: 20rem;
}

.agregar {
  background: #681228;
  box-shadow: 2px 3px 7px #959595;
  border: 0;
  color: #fff;
  border-radius: 10px;
  padding: 16px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 3%;
  margin-top: 1%;
}

.agregar:hover {
  background-color: #e4ccac;
}

.step-guide {
  color: #666;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.navbarTitle {
  background-color: #e0e0e0;
  height: 80px;
  width: 100% !important;
  ;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  font-size: 14px;
  text-align: center;
}

/*Nuevos estilos */
.formulario_tickets {
  padding-top: 0.95rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
 /* margin-left: 9%;*/
  width: 100%;
}

.subirArchivos {
 
  padding-top: 3rem;
  padding-right: 7rem;
  padding-bottom: 3rem;
  width: 100%;
}
.row {
  margin-right: 0 !important;
}
.botones_Form{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.vr {
  background-color: #91919161;
  box-shadow: -1px 1px 3px #BABABA;
  width: 1px; 
  height: auto; 
  margin-left: 40px;
}

.separacion{
  padding-left: 10rem;
}